<div class="row" style="padding-top: 50px;">
  <div class="offset-xl-4 col-xl-4">


    <app-child [type]="''"></app-child>

  </div>
</div>



<div class="row" *ngFor="let root of roots; let i = index">
  <div class="offset-xl-4 col-xl-4"
       style="
       padding-bottom: 10px;
       padding-top: 10px;
       padding-left: 50px;">


    {{ root.Name }}

    <span *ngIf="root.Parents.length !== 0">
      ({{ root.Parents.length }})
    </span>

    <app-child [rootIndex]="i" [type] = "'root'"></app-child>


    <div class="row" *ngFor="let parent of root.Parents; let j = index">
      <div class="col-xl-12"
           style="
           padding-bottom: 10px;
           padding-top: 10px;
           padding-left: 50px;">

        {{ parent.Name }}

        <span *ngIf="parent.Children.length !== 0">
          ({{ parent.Children.length }})
        </span>

        <app-child
          [rootIndex]="i"
          [parentIndex]="j" [type] = "'parent'"></app-child>


        <div class="row" *ngFor="let child of parent.Children; let k = index">
          <div class="col-xl-12"
               style="
               padding-bottom: 10px;
               padding-top: 10px;
               padding-left: 50px;">


            {{ child.Name }}

            <span *ngIf="child.GrandChildren.length !==0 ">
              ({{ child.GrandChildren.length }})
            </span>

            <app-child [rootIndex]="i"
                       [parentIndex]="j"
                       [childIndex] = "k"
                       [type] = "'child'"></app-child>

            <div class="row" *ngFor="let grandChild of child.GrandChildren">
              <div class="col-xl-12"
                   style="
                   padding-bottom: 10px;
                   padding-top: 10px;
                   padding-left: 50px;">
                {{ grandChild.Name }}
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>

  </div>
</div>
